@use '~@angular/material' as mat;

:host {
  display: block;
}

.results {
  background: rgba(0, 0, 0, 0.06);
  display: inline-block;
  padding: 32px;
  position: relative;

  p {
    margin: 4px 0;
  }
}

.edit {
  position: absolute;
  right: 0;
  top: 0;
  margin: 4px;
  color: rgba(0, 0, 0, 0.54);
}

.form {
  @include mat.elevation(8);
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: white;
}
