:host {
  display: block;
  min-height: 100%;
}

.mat-toolbar {
  justify-content: space-between;
}

.page-content {
  padding: 48px;

  & > * {
    // separate each example
    margin-bottom: 32px;
  }
}

.repo-link {
  color: white;
  text-decoration: none;
  margin: 0;
}
