:host {
  display: block;
  position: fixed;
  right: 32px;
  bottom: 32px;
  // Remove default margin given to each demo
  margin-bottom: 0 !important;
}

// Position the icon in the center so multiple
// ones will overlap
.mat-fab .mat-icon {
  position: absolute;
  top: 16px;
  left: 16px;
}

.dial {
  margin-bottom: 8px;

  // Tab direction moves away from anchor
  display: flex;
  flex-direction: column-reverse;

  .mat-mini-fab {
    margin: 8px 0;
  }
}

.tooltip {
  padding: 4px 8px;
  background: rgba(50,50,50,0.9);
  color: white;
  border-radius: 2px;
  margin: 8px;
  font-size: 12px;
}
