@use '~@angular/material' as mat;

// Material theming
$ncstate-primary: mat.define-palette(mat.$red-palette, 700);
$ncstate-accent: mat.define-palette(mat.$blue-grey-palette);
$ncstate-warn: mat.define-palette(mat.$deep-orange-palette);

$ncstate-theme: mat.define-light-theme($ncstate-primary, $ncstate-accent, $ncstate-warn);

$gradient-opacity: 0.48;

@include mat.core();
@include mat.all-component-themes($ncstate-theme);

html,
body {
  height: 100%;
  margin: 0;
}

.demo-background-rainbow {
  background: linear-gradient(
    to right,
    rgba(255, 165, 0, $gradient-opacity),
    rgba(255, 255, 0, $gradient-opacity),
    rgba(0, 128, 0, $gradient-opacity),
    rgba(0, 255, 255, $gradient-opacity),
    rgba(0, 0, 255, $gradient-opacity),
    rgba(238, 130, 238, $gradient-opacity)
  );
}

.demo-background-dark {
  background: rgba(0, 0, 0, 0.6);
}
