@import '~@angular/material/theming';

// Material theming
$ncstate-primary: mat-palette($mat-red, 700);
$ncstate-accent: mat-palette($mat-blue-grey);
$ncstate-warn: mat-palette($mat-deep-orange);

$ncstate-theme: mat-light-theme($ncstate-primary, $ncstate-accent, $ncstate-warn);

$gradient-opacity: 0.48;

@include mat-core();
@include angular-material-theme($ncstate-theme);

html,
body {
  height: 100%;
  margin: 0;
}

.demo-background-rainbow {
  background: linear-gradient(
    to right,
    rgba(255, 165, 0, $gradient-opacity),
    rgba(255, 255, 0, $gradient-opacity),
    rgba(0, 128, 0, $gradient-opacity),
    rgba(0, 255, 255, $gradient-opacity),
    rgba(0, 0, 255, $gradient-opacity),
    rgba(238, 130, 238, $gradient-opacity)
  );
}

.demo-background-dark {
  background: rgba(0, 0, 0, 0.6);
}
