@import '~@angular/material/theming';

// Material theming
$ncsu-primary: mat-palette($mat-red, 700);
$ncsu-accent:  mat-palette($mat-blue-grey);
$ncsu-warn:    mat-palette($mat-deep-orange);

$ncsu-theme: mat-light-theme($ncsu-primary, $ncsu-accent, $ncsu-warn);

@include mat-core();
@include angular-material-theme($ncsu-theme);

html, body {
  height: 100%;
  margin: 0;
}

.demo-background-rainbow {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}
