:host {
  display: block;
}

.controls {
  margin-bottom: 32px;
}

.anchor {
  background: darkblue;
  cursor: pointer;
  height: 48px;
  width: 48px;
}

.popover {
  background: lightgreen;
  color: rgba(0,0,0,0.87);
  padding: 24px;
}
